body,
h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
  font-family: Roboto;
}

* {
  box-sizing: border-box;
}

/* header */

.header {
  width: 100%;
  background-color: #007765;
  height: 84px;
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
}

.container {
  width: 100%;
  max-width: 1219px;
  margin: auto;
  padding-left: 55px;
  padding-right: 55px;
}

.inner-header {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 184px;
  height: 45px;
  background-image: url(/assets/img/logo.png);
  background-size: cover;
}

.nav-header {
}
.nav-link {
  text-decoration: none;
  color: white;
  font-size: 24px;
  margin: 0 4px;
}
/* Headline*/
.headline {
  width: 100%;
  margin-top: 84px;
}

/* PiperNet */

.PiperNet {
  width: 100%;
  background-image: url(/assets/img/back1.png);
  background-size: cover;
}

.PiperNet-title {
  font-size: 72px;
  color: white;
  text-align: center;
  margin: auto;
  padding-top: 160px;
  padding-bottom: 160px;
}

/*The Problem*/

.problem {
  padding-top: 52px;
  padding-bottom: 92px;
}

.problem-title {
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  color: #007765;
  padding-bottom: 8px;
  text-align: center;
}

.problem-content {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  padding: 12px 0;

  color: #000000;
}

/* Hero */

.hero {
  width: 100%;
  background-image: url(/assets/img/back2.png);
  background-size: cover;
}

.hero-title {
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #ffffff;
  padding: 128px 163px 127px 163px;
}

/* PPC */

.ppc {
  width: 100%;
  padding-top: 48px;
  padding-bottom: 92px;
}

.ppc-title {
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #007765;
  padding-bottom: 26px;
}

.ppc-img {
  width: 115px;
  height: 115px;
  float: left;
  margin-right: 48px;
}

.ppc-content {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  padding-bottom: 40px;
}

/* team */

.team {
  width: 100%;
  margin: 0 auto;
}

.team-title {
  padding-bottom: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #007765;
}

.members {
  display: flex;
  flex-wrap: wrap;
}

.member {
  text-align: center;
  flex-basis: 33%;
  padding: 24px;
  margin-bottom: 30px;
}

.member-img {
  width: 168px;
  height: 168px;
}

.member-name {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-top: 12px;

  color: #007765;
}

.member-prof {
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

/* footer */

.footer {
  width: 100%;
  text-align: center;
  background-color: black;
  padding: 48px 340px 58px 339px;
}

.footer-title {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  

}

.footer-signatury {
  padding-top: 20px;
  color: #ffffff;
  font-size: 20px;
}
